#test{
    width:200px;
    height:200px;
    background-color: grey;
    /* transition-property: width, height, background-color;
    transition-duration: 1s;
    transition-delay: 2s;
    transition-timing-function: ease; */
    transition: width 2s ease-in-out 0.5s, height 4s ease-in-out 0.5s;
}

#test:hover {
    width:400px;
    height:300px;
    background-color: violet;
}